[Unit]
Description=Update dynamic solar system wallpaper daily
Requires=xdg-desktop-autostart.target

[Timer]
OnBootSec=0sec
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
